# This is a comment
setuptools  # Required for packaging
numpy       # Required for numerical computations
tqdm        # For displaying progress bars
mindspore-dev  # Deep learning framework
matplotlib